<div class="mt-1">
    <h3>Thêm thông tin người dùng</h3>

    <form name="add-info">
        <div class="mb-3">
            <label for="name" class="form-label">Họ Tên</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Nhập tên">
        </div>
         <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email">
        </div>
         <div class="mb-3">
            <label for="phone" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Nhập số điện thoại">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <textarea class="form-control" name="address" id="address" rows="3"></textarea>
        </div>
</div>
<button type="submit" class="btn btn-primary">Thêm</button>
</form>

<script>
     CKEDITOR.replace( 'address');
    const infoForm = document.querySelector('form[name="add-info"]')
    console.log(infoForm)
    infoForm.onsubmit = async function(e){
        e.preventDefault();
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const phone = document.getElementById('phone').value;
        // get ra value của address
        const address = CKEDITOR.instances['address'].getData();
        
        // Validate form data
        if(name.trim() === '' || email.trim() === '' || phone.trim() === ''){
            alert('Vui lòng nhập đầy đủ thông tin');
            return false;
        }
        else if(phone.trim().length >11){
            alert('Số điện thoại không hợp lệ');
            return false;
        }


        // Submit form data
        const response = await fetch('/admin/store/info',{
            method: 'POST',
            headers: {
                'Authorization':`Bearer ${localStorage.getItem('accessToken')}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name, email, phone, address})
        }) 
            const data = await response.json();
            if(response.ok){
                alert(data.message)
               
            }
            else if(response.status===403){
                alert(data.message)
            }
            else{
                alert(data.message)
            }
       
    }

</script>