.user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.checkbox-select-all-options {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}
.search-film{
    margin-left: auto;
}
.search-film > input {
width: 250px;

}
.title-table{
    text-align: center;
}
